.Rproj.user
.Rhistory
.RData
.Ruserdata

# data folder
data/

# download cache
permissions_cache.sqlite

# configuration file
config.ini

# python project-specific settings
.idea/
venv/*

# Logging file
syp-query.log

# macOS
.DS_Store